body {
  background-color: transparent;
}

.main-icons {
  list-style-type: none;
}

.main-button {
  height: 5rem;
  width: 6rem;
  background-color: #98bf11;
  border: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  display: inline-block;
}

.nav-bar {
  flex-direction: column;
}

.main-logo {
  width: 50%;
}

.nav-bar h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.nav-menu {
  flex-direction: column;
}

.nav-menu li {
  font-size: 2rem;
  list-style-type: none;
}

.nav-elements {
  text-decoration: none;
  color: #5a5a5a;
  font-weight: bold;
}

.active-style {
  width: 200px;
  background-color: #98bf11;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
